.venv/
venv/
env/
__pycache__/
*.py[cod]
*$py.class
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.mo
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
.env
*.env
.DS_Store
Thumbs.db
*.csv
*.xlsx
*.pdf
*.txt
staticfiles/
media/